<div class="form-container">
  <div>
  <h1>Editar Tipo de Atividade</h1>

  <%= render "form.html", Map.put(assigns, :action, Routes.tipo_atividade_path(@conn, :update, @tipo_atividade)) %>

  <%= link "Voltar", to: Routes.tipo_atividade_path(@conn, :show, @tipo_atividade), class: "text-warning" %>

  </div>
</div>
