<div class="form-container">
  <div>
    <h1>Novo Tipo de Atividade</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.tipo_atividade_path(@conn, :create)) %>

    <span><%= link "Voltar", to: Routes.tipo_atividade_path(@conn, :index), class: "text-warning" %></span>
  </div>
</div>
